@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
      margin: 0;
      padding: 0;
      box-sizing:border-box;
      list-style-type: none;
      text-decoration: none;
}

body{
      font-family: 'Roboto', sans-serif;
      line-height: 1.5;
      background-color: #fffffff6;
}
h1, h2, h3, h4, h5, h6{
      line-height: 1.1;
      color: #000000;
}

/* Form_section */
   .signup_wrapper{
      max-width: 70rem;
      width: 100%;
      min-width: 250px;
      margin: 3rem auto;
}
img{
      max-width: 800px;
      min-width: 300px;
      width: 100%;
      height: 100%;
      display: block;
      margin-left:0 auto;
      object-fit: cover;
}
h1{
      font-size: clamp(2em,4vw,3rem);
      position: relative;
      isolation: isolate;
      margin-bottom:2rem;

}
h1::after{
      content: '';
      display: block;
      position:absolute;
      top:120%;
      margin-left:34%;
      width:25%;
      height:5px;
      background: linear-gradient(-45deg,hsl(196, 100%, 50%),hsl(196, 100%, 50%));
      z-index: -1;
}
.signup_content{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      justify-items:center ;
      align-content: center;
      align-items: center;
      gap: 3rem;
      margin-top: 3rem;
      overflow-x: hidden;
}
.sginup_img{
      flex-shrink: 0;
      flex-basis:380px;
}
.signup_form{
      flex-shrink: 1;
      flex-basis: 50%;
}

form .row{
      width: 100%;
      padding:0 1rem;
      display: flex;
      border-bottom: 2px solid #00000038;  
      padding: .5rem; 
      margin-bottom: 1.3rem;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"]{
      width: 80%;
      all: unset;
      padding-left: .8rem;
}
::placeholder{
      color: #000000b6;
      text-align: left;
      font-weight: bold;
}

/* visual eyes alignment */
.pass{
      position: relative;
}
.eye{
      position: absolute;
      top: .4rem; right: .6rem;
}

/* password box */
.inner_box{
      position: relative;
      margin: 1px ;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
}
.eye{
      position: absolute;
      top:0;right:0;
}
#open_i,#close_i{
      width: 10px;
      position: absolute;
      top:0; right: 1rem;
}

/* initial concealment. will come out when toggled */
#open_i{
      display: none;
}

:placeholder{
      font-weight: bold;
}

/* Alternative_sign_up_options*/
.alternative{
      position: relative;
      margin: 2rem 0;
}
.alternative span{
      position:absolute;
      top:-.7rem;left:45%;
      background-color:#ffffff;
      padding:0 .5rem;
}
.alt_icon{
      display: flex;
      gap: 1rem;
      justify-content: center;
}
.alt_icon img{
      all: unset;
      width: 1.4rem;
      transition: .4s;
}
.alt_icon img:hover{
      transform: scale(1.1);
}

/* checkbox and submit */
.check_submit{
      display: flex;
      flex-wrap: wrap;
      justify-content:space-between;
}
.check_submit p{
      color: #00000095;
}
input[type="checkbox"]{
      accent-color: hsl(196, 100%, 50%);
}
input[type="submit"]{
      background-color: hsl(196, 100%, 50%);
      color: #fff;
      width: 7rem;
      height: 3rem;
      text-align: center;
      padding: 0;
      border-radius: 5px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.843);
      font-weight: bold;
}
.submit{
      position: relative;
}
.fa-arrow-right-long{
      position: absolute;
      top:1rem;
      transform: translateX(-1rem);
      z-index: -1;
      transition: .5s;
}
.submit:hover .fa-arrow-right-long{
      transform: translateX(.3rem);
      z-index:1;
}

/* ==========Breakpoints========== */
@media only screen and (max-width:864px){
      input[type="submit"]{         
            background-color: hsl(196, 100%, 50%);
            width: 6rem;
            height:2rem;
            margin: 2rem 0;
      }
      .fa-arrow-right-long{
            top:2.6rem;
      }
}
@media only screen and (max-width:500px){
      h1{
            font-size: clamp(1.6em,4vw,3rem);
      }
      input[type="submit"]{
            margin: 2rem 0;
      }
}